  <!DOCTYPE html>
<html>

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GrandPapy Bot : Ask Anything</title>
    <meta name="description" content="GrandPapy Bot, talk to the internet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--<link rel="stylesheet" href=" {{ url_for('static',filename='css/fontawesome.min.css.css') }}">-->



  </head>

  <body id="page-top">

    <header>
      <h1>Welcome to GrandPapyBot</h1>
        <img class="papy" src="../static/img/gp.jpg"/>

    </header>

    <div class="container">
      <div>
        <h3>Ask a question to GrandPapy !</h3>


        <form method="GET" action="/town_list_process" id="box">
            <p>Enter your question</p>
            <table>
                <tr>
                    <th>What do you want to know ? </th>
                </tr>
                <tr>
                    <td><input name='proglang' id='proglang' type='TEXT'></td>
                </tr>
            </table>
            <p>When you're ready press this button :</p>
            <p><input value="Do it!" type = "SUBMIT"></p>
        </form>

      </div>

      <img src="{{ url_for('static', filename='img/loading.gif') }}" id="spin" style="display: none;">
      <img id="mapurl" src=""/>



    </div>


    <div id="output">
        {% include 'index.html' %}
        {% block body %}




        {% endblock %}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script type="text/javascript">

          $(document).ready(function () {
              $('form').on('submit', function (click) {
                  event.preventDefault();
                  var url = '/town_list_process';
                  $.ajax({
                    url: url
                    , type: 'GET'
                    , data: {
                            'proglang' : $('#proglang').val()
                            }
                    , dataType: 'text'
                    , beforeSend: function () { $("#spin").show(); }
                    , complete: function () { $("#spin").hide(); }
                    , success: function (data) {
                        var town_output = JSON.parse(data);
                        $('#output').html('<br>' + town_output.result);
                        $('#mapurl').html('<br>' + town_output.mapurl);
                        /* changing the src of map img */
                        $('#mapurl').attr("src", town_output.mapurl);

                    }
                    , error: function (data) {
                        console.log(data);
                        $('#output').append('<br>' + data.statusText);
                    }
                })
              })
          })

    </script>

  </body>

  <footer class="footer">
  <div class="container">
    <div class="content has-text-centered">
      <p>
        <strong>GrandPaPy Bot</strong> by Sik4.
      </p>
      <div id="social">
        <p><a href="https://github.com/Sik4"><span class="icon"><i class="fa fa-github"></i></span> GitHub</a>
        <a href="https://www.linkedin.com/in/camille-maury/"><span class="icon"><i class="fa fa-linkedin"></i></span> Linkedin</a></p>
      </div>
    </div>
  </div>
</footer>